.trip-card {
  border: 1px solid transparent;
  transition: border 0.5s ease;
}
.trip-card:hover {
  border-color: rgb(101, 167, 252);
}

.trip-card_content {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.trip-card_content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(213, 240, 255, 0.1),
    rgba(12, 117, 255, 0.3)
  );
  opacity: 0;
  transform: scale(1);
  transition: all 0.5s ease;
  pointer-events: none;
}
.trip-card_content:hover::after {
  opacity: 1;
  transform: scale(1.05);
}

.trip-card_content--fully-booked {
  color: rgb(107 114 128);
}

.trip-card_content--fully-booked::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: none;
  opacity: 1;
}
